body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.container{
    align-items: center;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 50px rgba(0,0,0,0.2);
}

button {
    margin:4px;
}