/* Barra Superior */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #6d1018;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #60a5fa;
    
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
}





/* Barra Lateral */
.sidebar{
    position: fixed;
    top: 0;
    left: -250px;

    width: 250px;
    height: 100%;

    background-color: #f3d1d9;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.sidebar a:hover {
    background-color: #f3d1d9;
    
}

#menuuu {
    position: fixed;
    top: 15px;
    left: 15px;
    
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background-color: black;
    color: white;

    font-size: 12px;
    cursor: pointer;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;

    z-index: 1000;
}

#menuuu:hover {
    transform: rotate(90deg);
}





/* Cards */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
    font-family: sans-serif;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    margin-top: 0;
    color: #333333;
  }
  
  .card-text {
    color: #666666;
    line-height: 1.5;
  }
  
  .card-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  